# Core
fiftyone
datasets
huggingface-hub
numpy
tqdm
ipykernel

# Transformers ecosystem

transformers==4.57.1 # Pinned at 4.57.1 — required by our video models
torch==2.7.1 #for flash-attn compatability
torchvision==0.22.1 #for flash-attn compatability
accelerate
einops

# Video decoding
decord2     # Molmo2
decord

# Model-specific utilities
qwen-vl-utils   # Qwen3-VL
molmo_utils     # Molmo2

# Embeddings & visualization
sentence-transformers
umap-learn
peft
protobuf

# Text evaluation plugin
# Install separately: fiftyone plugins download https://github.com/harpreetsahota204/text_evaluation_metrics
python-Levenshtein
apted
mistletoe
beautifulsoup4